<a href="https://colab.research.google.com/github/wunderkimiko/sales-predictions/blob/main/Project_1_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import pandas as pd
sales_predictionsDF = pd.read_csv('/content/drive/MyDrive/Coding Dojo/sales_predictions.csv')
sales_predictionsDF.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [6]:
# 1. 1) How many rows and columns?
sales_predictionsDF.shape

# 8523 rows, 12 columns

(8523, 12)

In [7]:
# 2. What are the data types of each variable?
sales_predictionsDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [8]:
# 3. Are there duplicates? If so, drop any duplicates.
#count duplicates in data frame
sales_predictionsDF.duplicated().any()
#there are no duplicates

False

In [9]:
# 4. Identify missing values.
sales_predictionsDF.info()
# Item_Weight, Outlet_Size has null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [10]:
sales_predictionsDF.isnull().sum().sum()
# 3873 missing values from Item_Weight and Outlet_Size combined

3873

In [18]:
# 5.  Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).
# Item_Weight probably does not matter to the sales of the product but I will not delete them since they are also items that are being sold.
# I will impute the empty values with the mean weight. 
salespredupdate1df = sales_predictionsDF
salespredupdate1df['Item_Weight']=salespredupdate1df['Item_Weight'].fillna(salespredupdate1df['Item_Weight'].mean())
salespredupdate1df.info()
# Item_Weight is completely filled

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [23]:
# Outlet_Size (which is the size of the store in terms of ground area covered) would probably not matter to the prediction of sales of a product. 
# Although there are 2410 missing, I will be dropping the column.
salespredupdate1df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [21]:
# I will be dropping the Outlet_Size column.
salespredupdate2df = salespredupdate1df.drop(columns=['Outlet_Size'])
salespredupdate2df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 11 columns]

In [22]:
# 6. Confirm that there are no missing values after addressing them.
salespredupdate2df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Location_Type       8523 non-null   object
 9   Outlet_Type                8523 non-null   object
 10  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 732.6+ KB

In [35]:
# 7. Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)
salespredupdate2df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [49]:
salespredupdate2df['Item_Fat_Content'].replace(to_replace='LF', value='Low Fat', inplace=True)

In [48]:
salespredupdate2df['Item_Fat_Content'].replace(to_replace='low fat', value='Low Fat', inplace=True)

In [47]:
salespredupdate2df['Item_Fat_Content'].replace(to_replace='reg', value='Regular', inplace=True)

In [50]:
salespredupdate2df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [36]:
salespredupdate2df['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [25]:
# 8. For any numerical columns, obtain the summary statistics of each (min, max, mean)
# Item_Weight
salespredupdate2df['Item_Weight'].min()

4.555

In [26]:
salespredupdate2df['Item_Weight'].max()

21.35

In [27]:
salespredupdate2df['Item_Weight'].mean()

12.857645184136409

In [37]:
# Item_Visibility
salespredupdate2df['Item_Visibility'].min()

0.0

In [38]:
salespredupdate2df['Item_Visibility'].max()

0.328390948

In [39]:
salespredupdate2df['Item_Visibility'].mean()

0.06613202877895127

In [29]:
# Item_MRP
salespredupdate2df['Item_MRP'].min()

31.29

In [30]:
salespredupdate2df['Item_MRP'].max()

266.8884

In [31]:
salespredupdate2df['Item_MRP'].mean()

140.9927819781768

In [32]:
# Item_Outlet_Sales
salespredupdate2df['Item_Outlet_Sales'].min()

33.29

In [33]:
salespredupdate2df['Item_Outlet_Sales'].max()

13086.9648

In [34]:
salespredupdate2df['Item_Outlet_Sales'].mean()

2181.2889135750365